
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* ///nav style // */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 200px;
}
 
.nav-title{
    font-weight:800 ;
    font-size: 45px;

}
.nav-span{
    color: #FD6E0A;
}
nav ul li{
    list-style: none;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;

}
nav li a{
    text-decoration: none;
}
.darck-2{
    color:#474747 ;
}
.btn{
    font-weight: bold;
    font-size: 20px;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
}
/* /// header style ;; // */
.header{
    background-image:url(../images/developer.png),url(../images/header_bg.png) ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* /// main div style  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* ///section style ..  */
.about{
border-radius: 10px;
padding: 130px 150px;
text-align: center;

}

/* //// text- item//? */
.text-item{
    text-align: center;
}

/* ///background color style .. */
.bg{
    background-color:#FFF8F3;
}

/* /// banner style . /// */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 45px 0px 200px;
}

.banner-head-small{
  font-weight: 600;
  font-size: 45px;
}
.banner-head-big{
font-weight: bold;
font-size: 85px;
}

/* /// about page style .. */

.section-head{
    font-weight: bold;
    font-size: 35px;
}
.darck-3{
    color:#757575 ;
    font-size: 18px;
}
.item-title{
font-size: 20px;
}
.item-des{
font-size: 20px;
}
.about-items{
    display: flex;
    justify-content: space-around;

}
/* ///what section start work..  */

.what{
    font-weight:bold;
    font-size: 35px;
    
    
}
.para{
    font-weight: normal;
    font-size: 18px;
}
.what-main-div{
    display: flex;
    gap: 24px;

}
.style{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px black;
}
/* /// summary style/// */
.summary-head {
    font-weight: bold;
    font-size: 35px;
}
.same{
    font-weight: bold;
    font-size: 30px;
}
.summary-main-div{
    display: flex;
    gap: 24px;
}

/* //footer style .. / */
.footer-style{
    display:flex ;
    padding: 130px 230px ;
    gap: 120px;
    width: 100%;

}
.footer-s-head{
    font-size: 35px;
    font-weight: bold;
}
.pare{
    margin-bottom: 30px;
}
.footer-div{
    width: 50%;
}
 footer input[type="text"],footer input[type="email"],footer textarea{
height:64px;
border-radius: 5px;
background-color: white;
display: block;
width: 460px;
padding: 10px 20px;
margin-bottom: 24px;
border:none;
 }
input[type="submit"]{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
footer a img{
    margin-right: 20px;
}